{% extends "proc/base.html" %}

{% block content %}
    <form method="POST" action="/proc/patientupdate/">{% csrf_token %}
    	<h1>Modifique os dados de cadastro do fornecedor</h1>
        <div>
	        <table border="0">
	        	<tbody>
	        		{% for field in form %}
	        			<tr>
	        				<th> {{ field.label_tag }} </th>
	        				<td> {{ field }}
	        					<p> {{ field.errors }} </p>
	        				</td>
	        			</tr>
	        		{% endfor %}
	        	</tbody>
	        </table>
	    </div>
        <button type="submit" class="btn btn-primary pull-center">Modificar </button>
    </form>
    <div>
    	<th><a href="http://127.0.0.1:8000/proc/fornecedor_registered/">Voltar</a></th>
    </div>
{% endblock %}