{% extends "proc/basemedicine.html" %}

{% block content %}
    <form method="POST" action="http://127.0.0.1:8000/proc/medicineregister/">{% csrf_token %}
    	<h1>Cadastre o medicamento</h1>
        <div>
	        <table border="0">
	        	<tbody>
	        		{% for field in form %}
	        			<tr>
	        				<th> {{ field.label_tag }} </th>
	        				<td> {{ field }}
	        					<p> {{ field.errors }} </p>
	        				</td>
	        			</tr>
	        		{% endfor %}
	        	</tbody>
	        </table>
	    </div>
        <button type="submit" class="btn btn-primary pull-center">Cadastrar </button>
    </form>
    <div>
    	<th><a href="http://127.0.0.1:8000/proc/medicine/">Voltar</a></th>
    </div>
{% endblock %}