<html>
	<head>

<style>
	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}

	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}

	tr:nth-child(even) {
	    background-color: #dddddd;
	}
</style>

<script type='text/javascript'>
 function excluirMedicamento(idParametro) {
	var result = confirm("Tem certeza que quer deletar?");
    if (result) {
             url = 'http://127.0.0.1:8000/proc/medicine_delete/'+ idParametro;
            window.open(url, '_blank');
       }
}

 function atualizarMedicamento(idParametro) {
            url = 'http://127.0.0.1:8000/proc/medicineupdate/'+ idParametro
            window.open(url, '_blank');
        }
</script>
		<title>PRO-Cura</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
	</head>

	<div>
		<h1><a href="">PRO-Cura</a></h1>
	</div>
	{% block content %}
		<div>
			<h2><a href="">Medicamentos Cadastrados</a></h2>  
		</div>
       <table>
       <tr>
	        <th>Nome</th>
	        <th>Data</th>
	        <th>Dosagem</th>
	        <th>Fabricante</th>
	        <th>Quantidade</th>
	        <th>Preço</th>
	        <th></th>
	        <th></th>
	    </tr>
		{% for medicine in queryset %}
		<tr>

		   <div class="medicine">
		    <td>{{ medicine.medicamento_nome}}</td>
		    <td>{{ medicine.medicamento_data}}</td>
		    <td>{{ medicine.medicamento_dosagem}}</td> 
		    <td>{{ medicine.medicamento_fabricante}}</td>
		    <td>{{ medicine.medicamento_quantidade}}</td>
		    <td>
                 <button onclick="excluirMedicamento({{ medicine.medicamento_id}})">EX</button>
		        <!--"href='/proc/medicine_delete/'+{{medicine.medicamento_id}}"-->
		    	
		    </td>
		    <td><button onclick ="atualizarMedicamento({{ medicine.medicamento_id}})">Modificar</button></td>
	    	</div>  

	    </tr>			
		{% endfor %}
		</table>
	{%endblock content %}

</html>

